* {
  /* box-sizing: border-box; */
}

.box-model-class {
  height: 100px;
  width: 100px;
  border: 3px solid red;
  padding: 25px;
  margin: 25px;
  background-color: #2e86c1;
  /* box-sizing: border-box; */
}
