.position-class-1 {
  height: 100px;
  width: 100px;
  background-color: mediumpurple;
  border: 1px solid #1f618d;

  /* position: static; default position */
}

.position-class-2 {
  height: 100px;
  width: 100px;
  background-color: rgb(71, 117, 37);
  border: 1px solid #1f618d;

  /* position: static; */
  position: relative;
  /* position: absolute; */
  /* position: fixed; */
  /* position: sticky; */

  top: 40px;
  left: 40px;
}
